<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Rack::Accept</title>
    <link rel="stylesheet" href="style.css" type="text/css" media="all">
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <h1>rack-accept</h1>
            <ul>
                <li><a href="api/index.html">API</a></li>
                <li><a href="http://github.com/mjijackson/rack-accept/issues">Bugs</a></li>
                <li><a href="http://github.com/mjijackson/rack-accept">Code</a></li>
                <li><a href="usage.html">Usage</a></li>
                <li><a href="index.html">Home</a></li>
            </ul>
        </div>
        <div id="content"><%= content %></div>
        <div id="footer">
            <p><a href="license.html" rel="license">Copyright</a> &copy; 2010 <a href="http://mjijackson.com/about" rel="me author">Michael J. I. Jackson</a></p>
        </div>
    </div>
</body>

</html>
