body {
  background-color: #EEEEEE;
  color: #333333;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  margin: 25px 25px 50px;
}
a {
  color: inherit;
  text-decoration: none;
  background-color: #FDFDFD;
  padding: 3px 5px;
}
a:hover {
  color: #666666;
}
h1, h2, h3 {
  font-weight: 300;
}
h1 {
  font-size: 32px;
}
h1, h2, h3, p, pre, ul, ol {
  margin: 0 0 18px 0;
}
ol, ul {
  padding-left: 36px;
}
li {
  margin: 0;
  padding: 0;
}
code {
  font-size: 12px;
  font-family: Menlo, monospace;
}
pre {
  background-color: #FDFDFD;
  padding: 4px 0 4px 6px;
  line-height: 1.2;
}
::selection {
  background: rgba(200,200,200,0.5);
}
::-moz-selection {
  background: rgba(200,200,200,0.5);
}
#wrapper {
  position: relative;
  width: 600px;
  margin: 0 auto;
}
#header {
  margin-bottom: 36px;
}
#header ul {
  position: absolute;
  top: 14px;
  right: 0;
  list-style-type: none;
}
#header ul li {
  float: right;
  margin-left: 10px;
}
#content {
  min-height: 400px;
}
#footer {
  margin-top: 36px;
  text-align: right;
  font-size: 12px;
  color: #999999;
}
